body {
    background: #0c0c0f;
    font-family: Arial;
    color: white;
}

.center-box {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: #13131a;
    border-radius: 10px;
    box-shadow: 0 0 15px #8e2de2;
    text-align: center;
}

.title {
    font-size: 28px;
    color: #b572ff;
}

.input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    background: #1b1b24;
    border: 1px solid #8e2de2;
    border-radius: 6px;
    color: white;
}

.btn {
    padding: 10px 25px;
    background: #8e2de2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.topbar {
    background: #16161f;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 0 15px #8e2de2;
}

.container {
    padding: 20px;
}

.card {
    display: block;
    padding: 15px;
    background: #1b1b24;
    border-left: 4px solid #8e2de2;
    margin: 15px 0;
    text-decoration: none;
    color: white;
}

.keybox {
    background: #1b1b24;
    padding: 10px;
    border-left: 4px solid #b572ff;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.delete {
    color: red;
}

.logbox {
    padding: 20px;
    background: #1b1b24;
    margin: 20px;
    height: 500px;
    overflow-y: scroll;
  }
