body {
    background: #0d0d0d;
    color: white;
    font-family: Arial;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #111;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 12px #000;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

.login-box button {
    width: 90%;
    padding: 12px;
    background: #4f46e5;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.nav {
    background: #111;
    padding: 15px;
}

.nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th {
    border-bottom: 1px solid #444;
    padding: 10px;
}

.delete {
    color: red;
}
