{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2>Blacklist HWID</h2>

    <form method="POST" action="/addblacklist">
        <label>HWID</label>
        <input name="hwid" required>

        <button type="submit">Blacklist</button>
    </form>
</div>

<div class="card">
    <h2>Blacklisted</h2>

    {% for hwid, val in black.items() %}
    <p>{{ hwid }}
       <a href="/removeblacklist/{{ hwid }}">
           <button style="background:#ff4c4c; margin-top:10px;">Remove</button>
       </a>
    </p>
    {% endfor %}
</div>

{% endblock %}
