{% extends "layout.html" %}
{% block content %}
<h1>Key Management</h1>

<div class="card">
    <form method="post" action="/generate">
        <label>Days</label>
        <input type="number" name="days">

        <label>Amount</label>
        <input type="number" name="amount">

        <button type="submit">Generate</button>
    </form>
</div>

<div class="card">
    <h3>Existing Keys</h3>
    <table>
        <tr><th>Key</th><th>Expires</th><th>HWID</th><th></th></tr>
        {% for key, info in keys.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ info.expires }}</td>
            <td>{{ info.hwid }}</td>
            <td><a href="/deletekey/{{key}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
