{% extends "base.html" %}
{% block content %}

<div class="card">
    <h2 style="text-align:center;">Eclipse Panel Login</h2>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        {% if error %}
        <p style="color:red; margin-top:10px;">{{ error }}</p>
        {% endif %}

        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}
